.main_info {
  .main_info_img {
    height: 85vh;
    object-fit: cover;
  }
}
.news_slider {
  text-decoration: none;
  color: #fff;
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
