.featured {
  padding: 15px 10px;

  .featuredRed {
    margin: 0;
    font-size: 18px;
    color: red;
  }
  
  .featuredTitle {
    font-size: 18px;
  }
  
  .featuredText {
    font-size: 15px;
    color: #999999;
  }
}

// Link styling!!!

.link, .link:hover, .link:active, .link:focus, .link:visited {
  color: inherit;
  text-decoration: none;
}

.link:hover .featuredTitle {
  text-decoration: underline;
}

.link:hover .jumbotronPostDesc h3 {
  text-decoration: underline;
}
