.date {
  color: #868686;
}

.parent {
  .imgParent {
    img {
      width: 100%;
      // object-fit: contain;
    }
  }
}

@media screen and (max-width: 575px) {
  .imgParent {
    img {
      height: 300px;
    }
  }
}
